---
import ACSystem from "../assets/services/ACSystem.svg?url"
import BreackSystem from "../assets/services/BreackSystem.svg?url"
import CoolSystem from "../assets/services/coolSystem.svg?url"
import DirectionSystem from "../assets/services/directionSystem.svg?url"
import ElectriSistem from "../assets/services/electriSistem.svg?url"
import EnginnerSystem from "../assets/services/enginnerSystem.svg?url"
import LigthnSystem from "../assets/services/ligthnSystem.svg?url"
import OutSystem from "../assets/services/outSystem.svg?url"
import SuspentionSystem from "../assets/services/suspentionSystem.svg?url"
import TransmitionSystem from "../assets/services/transmitionSystem.svg?url"


---
<div class="w-full  mx-auto py-12 bg-color-grey-98 flex flex-col items-center px-5">
  <!-- Encabezado -->
  <div class="w-full px-4 flex flex-col items-center gap-3">
<div class="px-3 py-1 bg-orange-100 rounded-full">
  <p class="text-orange-500 text-xs font-medium text-center">Soluciones completas para tu vehículo</p>
</div>
    <h2 class="text-color-azure-11 text-2xl font-bold text-center">Nuestros Servicios</h2>
  </div>
  <div class="text-center">
    <span class="text-color-orange-53 text-xs font-medium">
        En Lycos ofrecemos una amplia gama de servicios automotrices con la más alta calidad y
tecnología de vanguardia.
    </span>
  </div>

  <!-- Imágenes de servicios -->
<div class="w-full mt-8 grid md:grid-cols-3 grid-cols-2 gap-3 md:px-24">
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain outline-2  outline-orange-400" src={ElectriSistem} alt="Servicio 1" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={ACSystem} alt="Servicio 2" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={BreackSystem} alt="Servicio 3" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={CoolSystem} alt="Servicio 4" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={DirectionSystem} alt="Servicio 5" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={EnginnerSystem} alt="Servicio 6" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={LigthnSystem} alt="Servicio 7" />
  <img class="w-full h-auto p-2 rounded-lg shadow  object-contain outline-2 outline-orange-400" src={OutSystem} alt="Servicio 8" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={SuspentionSystem} alt="Servicio 9" />
  <img class="w-full h-auto p-2 rounded-lg shadow object-contain  outline-2 outline-orange-400" src={TransmitionSystem} alt="Servicio 10" />
</div>


  <!-- Botón -->
  <div class="md:w-1/4 w-full px-4 mt-10">
    <button class="w-full h-11 px-4 py-3 bg-orange-500 rounded-md text-white text-sm font-medium text-center">
      Solicitar Servicio
    </button>
  </div>
</div>
